.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #74cdd9;
}

.App-link {
  color: #74cdd9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer {
  background-color: white;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.footer a {
  color: black;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #f6f6f6 ;
  color:black;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark .navbar-nav .nav-link {
  color: #74cdd9;
}

.navbar-dark .navbar-nav .nav-link.active  {
color: black;
}

.navbar-dark .navbar-nav > li > a:hover {
  background-color: #cac6cf;
  color: #a80b0b;
}

.navbar-brand {
  color: black;
}

.bg-primary {
  background-color: #000000!important;
}

.site-footer__block {
  padding: 1.5rem 2rem;
  color: var(--color-white);
  background-color: var(--color-black);
  text-transform: uppercase;
}

.site-footer__block .container {
  display: flex;
  justify-content: space-between;
}

.site-footer__block__links a{
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

ul {
  list-style: none;
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.navbarTop {
  font-size: small;
}

.toggler {
  color: black;
  background-color: #74cdd9;
}

.navbar-nav .footer-links {
  color: white;
  font-size: medium;
  padding-right: 10px;
}